<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <article class="container">
            <main id="content">
                <div class="container-fluid">
                    <div class="row">
                        <% grams.forEach(function(gram) { %>
                          <div class="col-md-4 images">
                            <div class="username">
                                <% if(parseInt(gram.likes.count) >= 10000 && parseInt(gram.likes.count) < 50000) { %>
                                    <h4 class="alert alert-info username"><a href="https://instagram.com/<%= gram.user.username %>/" style="color: #fff;" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="<%= gram.user.username %>"><%= gram.user.username %> <span class="glyphicon glyphicon-star put-me-down-star"></span> <span class="glyphicon glyphicon-star put-me-down-star"></span></a> <span class="follow-right put-me-up-follow"><button type="button" class="btn btn-default">Follow</button></span></h4>
                                <% } %>
                                <% if(parseInt(gram.likes.count) > 50000) { %>
                                    <h4 class="alert alert-info username"><a href="https://instagram.com/<%= gram.user.username %>/" style="color: #fff;" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="<%= gram.user.username %>"><%= gram.user.username %> <span class="glyphicon glyphicon-star put-me-down-star"></span> <span class="glyphicon glyphicon-star put-me-down-star"></span> <span class="glyphicon glyphicon-star put-me-down-star"></span></a> <span class="follow-right put-me-up-follow"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button></span></h4>
                                <% } %>
                                <% if(parseInt(gram.likes.count) < 10000) { %>
                                    <h4 class="alert alert-info username"><a href="https://instagram.com/<%= gram.user.username %>/" style="color: #fff;" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="<%= gram.user.username %>"><%= gram.user.username %> <span class="glyphicon glyphicon-star put-me-down-star"></span></a> <span class="follow-right put-me-up-follow"><button type="button" class="btn btn-default">Follow</button></span></h4>
                                <% } %>
                            </div>
                            <% if(gram.type === 'video') { %>
                                <a href="<%= gram.videos.standard_resolution.url %>" target="_blank"><img class="img-responsive img-thumbnail img-shadow" src="<%= gram.images.standard_resolution.url %>" /></a>
                            <% } else { %>
                                <a href="<%= gram.link %>" target="_blank"><img class="img-responsive img-thumbnail img-shadow" src="<%= gram.images.standard_resolution.url %>" /></a>
                            <% } %>
                            <div class="type-post">
                                <% if(gram.type === 'video') { %>
                                    <strong>Type: <span class="glyphicon glyphicon-facetime-video grey-color put-me-down"></span></strong>
                                <% } else { %>
                                    <strong>Type: <span class="glyphicon glyphicon-picture grey-color put-me-down"></span></strong>
                                <% } %>
                            </div>
                            <div class="bar">
                                <span class="glyphicon glyphicon-heart grey-color"></span> <span class="put-me-up"><%= gram.likes.count %></span>
                                <br />
                                <span class="glyphicon glyphicon-comment grey-color"></span> <span class="put-me-up"><%= gram.comments.count %></span>
                            </div>
                            <div class="row full-screen">
                                <div class="col-md-2">
                                    <button type="button" data-toggle="popover" data-content="Please, login for this" data-original-title="Information" class="btn btn-danger">Like</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" data-toggle="popover" data-content="Please, login for this" data-original-title="Information" class="btn btn-info">Don't Show</button>
                                </div>
                                <% if(gram.caption !== null) { %>
                                    <div class="col-md-6">
                                        <span class="btn-right"><button type="button" data-toggle="popover" class="btn btn-primary" data-content="<%= gram.caption.text %>" data-original-title="Description">Description <span class="glyphicon glyphicon-comment"></span></button></span>
                                    </div>
                                <% } %>
                            </div>
                            <div class="full-screen tags">
                                <% gram.tags.forEach(function(tag) { %>
                                    #<%= tag %>
                                <% }); %>
                            </div>
                          </div>
                        <% }); %>
                    </div>
                </div>
            </main>
        </article>

        <div class="air"></div>

        <footer class="main-footer">
            <% include ../partials/footer.ejs %>
        </footer>
        <script>
          $(document).ready(function() {
              $('[data-toggle="popover"]').popover({'placement': 'top'});
              $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
        <script>
            function reload() {
                window.location = "/";
            }
        </script>
    </body>
</html>
