<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1><a href="/">POPPICS</a></h1>
                <p>Popular instagram pictures</p>
            </div>
        </div>
        <article class="container">
            <main id="content">
                <div class="Collage effect-parent">
                    <% grams.forEach(function(gram) { %>
                        <% if(gram.caption !== null) { %>
                            <div class="Image_Wrapper" data-caption="Profile name: <%= gram.user.username %><br />Description: <%= gram.caption.text %><br />Likes: <%= gram.likes.count %>">
                                <a href="<%= gram.link %>" target="_blank"><img width="200" src="<%= gram.images.standard_resolution.url %>" alt="<%= gram.user.username %>"></a>
                            </div>
                        <% } else { %>
                            <div class="Image_Wrapper" data-caption="Profile name: <%= gram.user.username %>">
                                <a href="<%= gram.link %>" target="_blank"><img width="200" src="<%= gram.images.standard_resolution.url %>" alt="<%= gram.user.username %><br />Likes: <%= gram.likes.count %>"></a>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </main>
        </article>
        <div class="air"></div>
        <footer id="contacts" class="main-footer">
            <% include ../partials/footer.ejs %>
        </footer>
        <script>
          $(document).ready(function() {
              $('[data-toggle="popover"]').popover({'placement': 'top'});
              $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
        <script>
            function reload() {
                window.location = "/";
            }

            $(window).load(function() {
                $(document).ready(function() {
                    $('.Collage').removeWhitespace().collagePlus({ 'fadeSpeed': 200, 'allowPartialLastRow': false }).collageCaption();
                });
            });
        </script>
    </body>
</html>
