<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <a href="/" class="navbar-brand"><i class="ion-images"></i> POPPICS</a>
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/login">Log in</a></li>
                    <li><a href="#/signup">Sign up</a></li>
                    <li><a ng-click="logout()" href="">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>POPPICS</h1>
                <p>Popular instagram pictures</p>
            </div>
        </div>
        <article class="container">
            <main id="content">
                <div class="row">
                    <% grams.forEach(function(gram) { %>
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail img-shadow">
                                <section class="profile-pic">
                                    <p><a href="https://instagram.com/<%= gram.user.username %>/" target="_blank"><img class="img-circle img-thumbnail" width="80" src="<%= gram.user.profile_picture %>" alt="<%= gram.user.username %>"/></a></p>
                                </section>
                                <section class="profile-info">
                                    <p><a href="https://instagram.com/<%= gram.user.username %>/"><%= gram.user.username %></a><br/><strong><%= gram.user.full_name %></strong></p>
                                </section>
                                <p><a href="<%= gram.link %>" target="_blank"><img class="img-responsive img-thumbnail" src="<%= gram.images.standard_resolution.url %>" alt="<%= gram.user.username %>"/></a></p>
                                <div class="caption">
                                    <br/>
                                    <p>
                                        <button type="button" class="btn btn-danger">Like</button> <button type="button" class="btn btn-success">Follow</button>
                                        <% if(gram.caption !== null) {  %>
                                            <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= gram.caption.text %>">Show caption</button>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </main>
        </article>
        <div class="air"></div>
        <footer id="contacts" class="main-footer">
            <% include ../partials/footer.ejs %>
        </footer>
        <script>
          $(document).ready(function() {
              $('[data-toggle="popover"]').popover({'placement': 'top'});
              $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
        <script>
            function reload() {
                window.location = "/";
            }

            $(window).load(function() {
                $(document).ready(function() {
                    $('.Collage').removeWhitespace().collagePlus({ 'fadeSpeed': 200, 'allowPartialLastRow': false }).collageCaption();
                });
            });
        </script>
    </body>
</html>
