<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1><a href="/">POPPICS</a></h1>
                <p>Popular instagram pictures</p>
            </div>
        </div>
        <article class="container">
            <main id="content">
                <div class="row">
                    <% grams.forEach(function(gram) { %>
                        <div class="col-sm-6 col-md-6">
                            <h4 class="alert alert-info username"><a href="https://instagram.com/<%= gram.user.username %>/" target="_blank"><%= gram.user.username %></a></h4>
                            <% if(gram.caption !== null) { %>
                                <div class="thumbnail">
                                    <a href="<%= gram.link %>" target="_blank"><img class="img-responsive img-thumbnail" src="<%= gram.images.standard_resolution.url %>" alt="<%= gram.user.username %>"/></a>
                                    <div class="caption">
                                        <p class="fixed-text"></p>
                                        <br/>
                                        <p><button type="button" class="btn btn-danger">Like</button> <button type="button" class="btn btn-success">Follow</button> <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= gram.caption.text %>">Show caption</button></p>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="thumbnail">
                                    <a href="<%= gram.link %>" target="_blank"><img class="img-responsive img-thumbnail" src="<%= gram.images.standard_resolution.url %>" alt="<%= gram.user.username %>"/></a>
                                    <div class="caption">
                                        <p class="fixed-text"></p>
                                        <br/>
                                        <p><a href="" class="btn btn-danger" role="button">Like</a> <a href="" class="btn btn-success" role="button">Follow</a></p>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% }); %>
                </div>
            </main>
        </article>
        <div class="air"></div>
        <footer id="contacts" class="main-footer">
            <% include ../partials/footer.ejs %>
        </footer>
        <script>
          $(document).ready(function() {
              $('[data-toggle="popover"]').popover({'placement': 'top'});
              $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
        <script>
            function reload() {
                window.location = "/";
            }

            $(window).load(function() {
                $(document).ready(function() {
                    $('.Collage').removeWhitespace().collagePlus({ 'fadeSpeed': 200, 'allowPartialLastRow': false }).collageCaption();
                });
            });
        </script>
    </body>
</html>
